<div>
    <div 
    	ng-if="vm.message && vm.message.text != null" 
    	class="alert alert-{{vm.message.state}}" 
    	role="alert"
    >
 		<button type="button" class="close" ng-click="vm.closeMessage();" aria-label="Close"><span aria-hidden="true">&times;</span></button>    
        {{vm.message.text}}
    </div> 		
</div>
