<section class="view__container view__container--sidebar">
	<div class="main__content">
		<header class="main__content__header">		
			<ng-include src="'/src/js/views/partial-header.html'"></ng-include>
		</header>
		<article>
			<div class="container">
				<div class="page-header">
					<h1>Home <small>Run Tracker</small></h1>
				</div>
				<!-- <canvas class="chart chart-bar" chart-data="home.data" chart-labels="home.labels" chart-series="home.series"></canvas> -->
				<div class="row">
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title" style="float:left;">Total Distance</h3>
								<select ng-model="home.totalDistanceType" style="float:right;">
									<option value="meters">Meters</option>
									<option value="km">Km</option>
									<option value="miles">Miles</option>
								</select>								
							</div>
							<div class="panel-body">
								<h3>{{home.totalDistance | distanceType:home.totalDistanceType}} {{home.totalDistanceType}}</h3>		
							</div>
						</div>						
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Total Time</h3>
							</div>
							<div class="panel-body">
								<h3>{{home.totalTime | secondsToTime}}</h3>
							</div>
						</div>						
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title" style="float:left;">Average Pace</h3>
								<select ng-model="home.paceType" style="float:right;">
									<option value="mpm">Minutes per mile</option>
									<option value="mph">mph</option>
									<option value="km/h">km/h</option>
								</select>									
							</div>
							<div class="panel-body">
								<h3>{{home.totalTime | paceType:home.totalDistance:home.paceType}} {{home.paceType}}</h3>
							</div>
						</div>						
					</div>					
				</div>
			</div>
		</article>
	</div>
	<ng-include src="'/src/js/views/partial-footer.html'"></ng-include>
</section>