<section class="view__container view__container--sidebar">
	<div class="main__content">
		<header class="main__content__header">		
			<ng-include src="'/src/js/views/partial-header.html'"></ng-include>
		</header>
		<article>
			<div class="container">
				<div class="page-header">
					<h1>Login <small>Run Tracker</small></h1>
				</div>
		        <feedback-message /></feedback-message>          
		        <form>
		        	<div class="form-group">
		        		<label for="username">Username</label>
		        		<input type="text" class="form-control" placeholder="Username" ng-model="login.email">
		        	</div>
		        	<div class="form-group">
		        		<label for="password">Password</label>
		        		<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.password">
		        	</div>
					<button type="submit" class="btn btn-primary" ng-click="login.logIn(login.email, login.password)">Login</button>
		        </form>
			</div>
		</article>
	</div>
	<ng-include src="'/src/js/views/partial-footer.html'"></ng-include>
</section>