<footer class="footer">
	<div class="container">
		<p class="text-muted pull-left">Run Tracker &copy; Ryan Knights 2016</p>
		<p class="text-muted pull-right"><a href="http://runtracker.ryanknights.co.uk">http://runtracker.ryanknights.co.uk</p>
	</div>
</footer>