<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/#/">Run Tracker</a>
		</div>
		<ul class="nav navbar-nav">
			<li ng-if="!application.isLoggedIn" ng-class="{ active: application.isActive('/login') }">
				<a href="/#/login">Login</a>
			</li>
			<li ng-if="!application.isLoggedIn" ng-class="{ active: application.isActive('/register') }">
				<a href="/#/register">Register</a>
			</li>				
			<li ng-if="application.isLoggedIn" ng-class="{ active: application.isActive('/runs') }">
				<a href="/#/runs">My Runs</a>
			</li>
			<li ng-if="application.isLoggedIn && application.isAdmin" ng-class="{ active: application.isActive('/users') }">
				<a href="/#/users">Users</a>
			</li>
			<li ng-if="application.isLoggedIn && application.isAdmin" ng-class="{ active: application.isActive('/users-runs') }">
				<a href="/#/users-runs">Users Runs</a>
			</li>														
		</ul>
		<p ng-if="application.isLoggedIn" style="float:right;padding-top:15px;">
			Logged In As {{application.currentUser.username}} <span class="badge" ng-if="application.isAdmin">Admin</span> | 
			<a ng-click="application.logOut();">Logout?</a>
		</p>	
	</div>
</div>
