<section class="view__container view__container--sidebar">
	<div class="main__content">
		<header class="main__content__header">		
			<ng-include src="'/src/js/views/partial-header.html'"></ng-include>
		</header>
		<article>
			<div class="container">
				<div class="page-header">
					<h1>Register <small>Run Tracker</small></h1>
				</div>
				<feedback-message></feedback-message>            
				<form>
				    <div class="form-group">
				        <label for="username">Username</label>
				        <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="register.username">
				    </div>
				    <div class="form-group">
				        <label for="email">Email Address</label>
				        <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" ng-model="register.email">
				    </div>            
				    <div class="form-group">
				        <label for="password">Password</label>
				        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="register.password">
				    </div>            
				    <button type="submit" class="btn btn-primary" ng-click="register.register(register.username,register.email,register.password)">Register</button>
				</form>
			</div>
		</article>
	</div>
	<ng-include src="'/src/js/views/partial-footer.html'"></ng-include>
</section>