<section class="view__container view__container--sidebar">
	<div class="main__content">
		<header class="main__content__header">		
			<ng-include src="'/src/js/views/partial-header.html'"></ng-include>
		</header>
		<article>
			<div class="container">
				<div class="page-header">
					<h1>Run {{run.run._id}} <small>Run Tracker</small></h1>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>
								Date
							</th>
							<th>
								Distance
								<select ng-model="run.distanceType">
									<option value="meters">Meters</option>
									<option value="km">Km</option>
									<option value="miles">Miles</option>
								</select>
							</th>
							<th>
								Duration							
							</th>
							<th>
								Pace
								<select ng-model="run.paceType">
									<option value="mpm">Minutes per mile</option>
									<option value="mph">mph</option>
									<option value="km/h">km/h</option>
								</select>								
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{run.run.date | date:'medium'}}
							</td>
							<td>
								{{run.run.meters | distanceType:run.distanceType}} {{run.distanceType}}
							</td>
							<td>
								{{run.run.seconds | secondsToTime}}
							</td>
							<td>
								{{run.run.seconds | paceType:run.run.meters:run.paceType}} {{run.paceType}}
							</td>
						</tr>
					</tbody>
				</table>
				<run-map locations="run.run.locations"></run-map>
			</div>
		</article>
	</div>
	<ng-include src="'/src/js/views/partial-footer.html'"></ng-include>
</section>