<section class="view__container view__container--sidebar">
	<div class="main__content">
		<header class="main__content__header">		
			<ng-include src="'/src/js/views/partial-header.html'"></ng-include>
		</header>
		<article>
			<div class="container">
				<div class="page-header">
					<h1>User {{user.user._id}} <small>Run Tracker</small></h1>
				</div>
				<feedback-message /></feedback-message>
				<div class="row">
					<div class="col-md-6">
						<div class="panel">
							<h3>Edit User Profile</h3>
							<div class="panel__body">
								<form ng-submit="user.editUser(user.user._id, user.user);" class="form">
									<div class="form-group">
										<label for="email">Email Address</label>
										<input type="email" class="form-control" id="email" ng-model="user.user.email" placeholder="Email" />
									</div>
									<div class="form-group">
										<label for="username">Username</label>
										<input type="text" class="form-control" id="username" ng-model="user.user.username" placeholder="Username" />
									</div>
									<div class="form-group">
										<label for="created">Created</label>
										<input type="text" class="form-control" id="created" ng-model="user.user.created" placeholder="Username" />
									</div>						
									<button class="btn btn-primary" type="submit">Edit User</button>
								</form>				
							</div>
						</div>			
					</div>
					<div class="col-md-6">
						<div class="panel">
							<h3>Edit User Password</h3>
							<div class="panel__body">
								<form ng-submit="user.updatePassword(user.user._id, user.newPassword);">
									<div class="form-group">
										<label for="password">New Password</label>
										<input type="password" class="form-control" id="password" ng-model="user.newPassword" placeholder="Password" />
									</div>
									<div class="form-group">
										<label for="password-confirm">Confirm New Password</label>
										<input type="password" class="form-control" id="password-confirm" ng-model="user.confirmNewPassword" placeholder="Confirm new password" />
									</div>	
									<button class="btn btn-primary">Update Password</button>
								</form>				
							</div>
						</div>				
					</div>			
				</div>					
			</div>
		</article>
	</div>
	<ng-include src="'/src/js/views/partial-footer.html'"></ng-include>
</section>