<section class="view__container view__container--sidebar">
	<div class="main__content">
		<header class="main__content__header">		
			<ng-include src="'/src/js/views/partial-header.html'"></ng-include>
		</header>
		<article>
			<div class="container">
				<div class="page-header">
					<h1>Users <small>Run Tracker</small></h1>
				</div>
				<feedback-message /></feedback-message>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Username</th>
							<th>Email</th>
							<th>Joined</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in users.users">
							<td>{{user.username}}</td>
							<td>{{user.email}}</td>
							<td>{{user.created}}</td>
							<td><a href="/#/users-runs/{{user._id}}" class="btn btn-default btn-sm">View Runs</a></td>
							<td><a class="btn btn-default btn-sm" href="/#/users/{{user._id}}">Edit</a></td>
							<td><button class="btn btn-danger btn-sm" ng-click="users.deleteUser($index, user._id)">Delete</button></td>
						</tr>
					</tbody>
				</table>				
			</div>
		</article>
	</div>
	<ng-include src="'/src/js/views/partial-footer.html'"></ng-include>
</section>