<section class="view__container view__container--sidebar">
	<div class="main__content">
		<header class="main__content__header">		
			<ng-include src="'/src/js/views/partial-header.html'"></ng-include>
		</header>
		<article>
			<div class="container">
				<div class="page-header">
					<h1>User {ID Here} Runs <small>Run Tracker</small></h1>
				</div>
				<feedback-message /></feedback-message>
				<table class="table table-striped" ng-if="userRuns.runs.length">
					<thead>
						<tr>
							<th>Date</th>
							<th>
								Distance
								<select ng-model="userRuns.distanceType">
									<option value="meters">Meters</option>
									<option value="km">Km</option>
									<option value="miles">Miles</option>
								</select>								
							</th>
							<th>Duration</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="run in userRuns.runs">
							<td>{{run.date | date:'medium'}}</td>
							<td>
								{{run.meters | distanceType:userRuns.distanceType}} {{userRuns.distanceType}}								
							</td>
							<td>{{run.seconds | secondsToTime}}</td>
							<td><a href="/#/runs/{{run._id}}" class="btn btn-default">View</a></td>
							<td><a ng-click="runs.deleteRun($index, run._id);" class="btn btn-danger">Delete</td>
						</tr>
					</tbody>
				</table>
			    <div 
			    	ng-if="!userRuns.runs.length" 
			    	class="alert alert-warning" 
			    	role="alert"
			    >
			        You currently have no runs saved
			    </div> 					
			</div>
		</article>
	</div>
	<ng-include src="'/src/js/views/partial-footer.html'"></ng-include>
</section>