<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form (ngSubmit)="register()" #loginForm="ngForm">
	  <ion-row>
	    <ion-col>
	      <ion-list inset>
	        
	        <ion-item>
	          <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="credentials.username" required></ion-input>
	        </ion-item>

	        <ion-item>
	          <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="credentials.email" required></ion-input>
	        </ion-item>	        
	        
	        <ion-item>
	          <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password" required></ion-input>
	        </ion-item>
	        
	      </ion-list>
	    </ion-col>
	  </ion-row>
	  
	  <ion-row>
	    <ion-col class="signup-col">
	      <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Register</button>
	    </ion-col>
	  </ion-row>
	  
	</form>
</ion-content>
