<ion-tabs *ngIf="!userLoggedIn">
  <ion-tab [root]="tab1Root" tabTitle="Login" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Register" tabIcon="home"></ion-tab>
</ion-tabs>
<ion-tabs *ngIf="userLoggedIn">
  <ion-tab [root]="tab3Root" tabTitle="home" tabIcon="home"></ion-tab>
 <ion-tab tabTitle="Logout" tabIcon="home" (ionSelect)="logout()"></ion-tab>
</ion-tabs>

