@_color_dark_grey  : #1f1f1f;
@_color_light_grey : #212121;

@_color_blue        : #32323a;
@_color_dark_blue   : darken(@_color_blue, 1);
@_color_darker_blue : darken(@_color_blue, 2);

@_color_white : #ffffff;

@_color_light_grey : #f7f7f7;
@_color_grey : #f3f3f3;
@_color_dark_grey : #f1f1f1;

@_color_border : #eeeeee;

@_color_dark_border : #404040;

@_color_primary : #1abc9c;

@_color_negative : #e74c3c;
@_color_warning  : #f1c40f;
@_color_positive : #2ecc71; 

@_font_size : 14px;

@_font_color : #232425;

@_font_family : 'Roboto', sans-serif;