<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  {{ tokens | json }}
  <br />
  {{ user | json }}
  <button ion-button full primary (click)="startTracking()">Start Tracking</button>
  <button ion-button full primary (click)="stopTracking()">Stop Tracking</button>
  {{ locations | json }}
</ion-content>
